{
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "printWidth": 100,
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "useTabs": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true
}
