.body {
  background-color: rgb(0, 2, 29);
}

.api-body {


  color: rgb(0, 0, 0);
  height: auto;
  width: fit-content;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
  background-color: white;

  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(169, 169, 169);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.example-response{
  text-wrap: auto;
  border-radius: 10px;
  padding: 3rem 1.5rem;
  background-color: rgb(231, 231, 231);
  line-height: 2;
}
